[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
pytest = "*"
jupyter = "*"

[requires]
python_version = "3.7"

[packages]
protein-helper = {editable = true, path = "."}
